{% extends 'base.html' %}
{% block content %}
<div class="shadow card">
                    <div class="card-body">
                        <h5 class="'card-title">{{i.name}}</h5>
                        <p><b>{{i.pty}}</b></p>
                        <p><b>{{i.date}}</b></p>


                        <a class="btn btn-danger" href="{% url 'deletetask' i.id %}">Delete</a>
                        <a class="btn btn-success" href="{% url 'updatetask' i.id %}">Update</a>
                    </div>
                </div>
{% endblock %}